n8n_workflows/1_ingest_from_url.json
{
    "name": "1. Ingest Article from URL (Webhook)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ingest-url",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook (POST /ingest-url)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                460
            ],
            "webhookId": "ingest-url-webhook"
        },
        {
            "parameters": {
                "url": "={{ $json.body.url }}",
                "options": {},
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
                        }
                    ]
                }
            },
            "id": "fetch-page",
            "name": "Fetch Page HTML",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                460
            ]
        },
        {
            "parameters": {
                "dataPropertyName": "data",
                "extractionValues": {
                    "values": [
                        {
                            "key": "title",
                            "cssSelector": "h1",
                            "returnValue": "text"
                        },
                        {
                            "key": "body",
                            "cssSelector": "p",
                            "returnValue": "text",
                            "returnArray": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "extract-content",
            "name": "Extract Title & Body",
            "type": "n8n-nodes-base.htmlExtract",
            "typeVersion": 1,
            "position": [
                900,
                460
            ]
        },
        {
            "parameters": {
                "jsCode": "// Join paragraphs into a single string\n// Access data from previous nodes\nconst webhookData = $('Webhook (POST /ingest-url)').item.json;\nconst extractedData = $input.item.json;\n\nconst title = extractedData.title || 'No Title Found';\nlet body = '';\n\nif (Array.isArray(extractedData.body)) {\n  body = extractedData.body.join('\\n\\n');\n} else if (typeof extractedData.body === 'string') {\n  body = extractedData.body;\n} else {\n  body = 'No content extracted.';\n}\n\nreturn {\n  title: title,\n  body: body,\n  url: webhookData.body.url\n};"
            },
            "id": "format-data",
            "name": "Format Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                460
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://vector_api:8000/ingest",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.title }}"
                        },
                        {
                            "name": "body",
                            "value": "={{ $json.body }}"
                        },
                        {
                            "name": "metadata",
                            "value": "={{ { \"source\": \"n8n_webhook\", \"url\": $json.url } }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "send-to-api",
            "name": "Send to Vector API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                460
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1560,
                460
            ]
        }
    ],
    "connections": {
        "Webhook (POST /ingest-url)": {
            "main": [
                [
                    {
                        "node": "Fetch Page HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Page HTML": {
            "main": [
                [
                    {
                        "node": "Extract Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Title & Body": {
            "main": [
                [
                    {
                        "node": "Format Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Data": {
            "main": [
                [
                    {
                        "node": "Send to Vector API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Vector API": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}