n8n_workflows/2_search_documents.json
{
    "name": "2. Search Documents (Webhook GET)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "search",
                "options": {},
                "responseMode": "responseNode"
            },
            "id": "webhook-trigger",
            "name": "Webhook (GET /search)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                460,
                460
            ],
            "webhookId": "search-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://api:8000/search",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "={{ $json.query.q || 'default search' }}"
                        },
                        {
                            "name": "limit",
                            "value": "={{ $json.query.limit || 5 }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "search-api",
            "name": "Search Vector API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                460
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                460
            ]
        }
    ],
    "connections": {
        "Webhook (GET /search)": {
            "main": [
                [
                    {
                        "node": "Search Vector API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Vector API": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}