n8n_workflows/3_generate_player_profile.json
{
    "name": "3. Generate Player Profile (Wikipedia + Gemini)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-player",
                "options": {},
                "responseMode": "responseNode"
            },
            "id": "webhook-trigger",
            "name": "Webhook (POST /generate-player)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                460,
                460
            ],
            "webhookId": "generate-player-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://pl.wikipedia.org/w/api.php?action=query&format=json&prop=extracts|pageimages&exintro=1&explaintext=1&titles={{ encodeURIComponent($json.body.name) }}&piprop=thumbnail&pithumbsize=300",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "n8n-player-bot/1.0 (https://github.com/yourusername/vector; contact@example.com)"
                        },
                        {
                            "name": "Accept",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "id": "wikipedia-pl",
            "name": "Wikipedia Search (PL)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                460
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract Wikipedia PL data\nconst webhookData = $('Webhook (POST /generate-player)').item.json;\nconst wikiData = $input.item.json;\n\nlet hasData = false;\nlet extract = '';\nlet thumbnail = '';\n\nif (wikiData.query && wikiData.query.pages) {\n  const pages = wikiData.query.pages;\n  const pageId = Object.keys(pages)[0];\n  \n  if (pageId !== '-1') {\n    const page = pages[pageId];\n    extract = page.extract || '';\n    thumbnail = page.thumbnail ? page.thumbnail.source : '';\n    hasData = extract.length > 50;\n  }\n}\n\nreturn {\n  name: webhookData.body.name,\n  wikipedia_pl_extract: extract,\n  wikipedia_pl_thumbnail: thumbnail,\n  has_pl_data: hasData\n};"
            },
            "id": "process-wiki-pl",
            "name": "Process Wikipedia PL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                460
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "leftValue": "={{ $json.has_pl_data }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "if-need-en",
            "name": "IF Need EN Wikipedia",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1120,
                460
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts|pageimages&exintro=1&explaintext=1&titles={{ encodeURIComponent($('Webhook (POST /generate-player)').item.json.body.name) }}&piprop=thumbnail&pithumbsize=300",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "n8n-player-bot/1.0 (https://github.com/yourusername/vector; contact@example.com)"
                        },
                        {
                            "name": "Accept",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "id": "wikipedia-en",
            "name": "Wikipedia Search (EN)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                580
            ]
        },
        {
            "parameters": {
                "jsCode": "// Aggregate Wikipedia data (PL + EN)\nconst plData = $('Process Wikipedia PL').item.json;\nconst webhookData = $('Webhook (POST /generate-player)').item.json;\n\nlet enExtract = '';\nlet enThumbnail = '';\n\n// Check if we have EN data\nif ($input.item.json.query && $input.item.json.query.pages) {\n  const pages = $input.item.json.query.pages;\n  const pageId = Object.keys(pages)[0];\n  \n  if (pageId !== '-1') {\n    const page = pages[pageId];\n    enExtract = page.extract || '';\n    enThumbnail = page.thumbnail ? page.thumbnail.source : '';\n  }\n}\n\n// Combine PL and EN data\nconst rawWikiText = (plData.wikipedia_pl_extract + '\\n\\n' + enExtract).trim();\nconst hasWikiData = rawWikiText.length > 50;\nconst imageUrl = plData.wikipedia_pl_thumbnail || enThumbnail;\n\n// Try to extract position and clubs from text (simple regex)\nlet position = '';\nlet clubs = [];\n\nconst positionMatch = rawWikiText.match(/(pomocnik|napastnik|obrońca|bramkarz|midfielder|forward|defender|goalkeeper)/i);\nif (positionMatch) {\n  position = positionMatch[1];\n}\n\nreturn {\n  name: webhookData.body.name,\n  raw_wiki_text: rawWikiText,\n  position_from_wiki: position,\n  clubs_from_wiki: clubs,\n  image_url: imageUrl,\n  has_wiki_data: hasWikiData\n};"
            },
            "id": "aggregate-en",
            "name": "Aggregate Data (with EN)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                580
            ]
        },
        {
            "parameters": {
                "jsCode": "// Aggregate Wikipedia data (PL only)\nconst plData = $input.item.json;\n\nconst rawWikiText = plData.wikipedia_pl_extract.trim();\nconst hasWikiData = rawWikiText.length > 50;\n\n// Try to extract position from text\nlet position = '';\nconst positionMatch = rawWikiText.match(/(pomocnik|napastnik|obrońca|bramkarz|midfielder|forward|defender|goalkeeper)/i);\nif (positionMatch) {\n  position = positionMatch[1];\n}\n\nreturn {\n  name: plData.name,\n  raw_wiki_text: rawWikiText,\n  position_from_wiki: position,\n  clubs_from_wiki: [],\n  image_url: plData.wikipedia_pl_thumbnail,\n  has_wiki_data: hasWikiData\n};"
            },
            "id": "aggregate-pl",
            "name": "Aggregate Data (PL only)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-goog-api-key",
                            "value": "={{ $env.GEMINI_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{ \"parts\": [{ \"text\": `Jesteś ekspertem od piłki nożnej, specjalizujesz się w Ekstraklasie polskiej.\\n\\nZADANIE: Na podstawie poniższych danych z Wikipedii, wygeneruj szczegółowy profil piłkarza.\\n\\nDANE WEJŚCIOWE:\\n- Nazwa piłkarza: ${$json.name}\\n- Dane z Wikipedii dostępne: ${$json.has_wiki_data}\\n- Tekst z Wikipedii (PL/EN): ${$json.raw_wiki_text}\\n- Pozycja (jeśli znaleziona): ${$json.position_from_wiki}\\n\\nINSTRUKCJE:\\n1. Jeśli has_wiki_data = false I nie znasz tego zawodnika:\\n   - Zwróć: { \"known_player\": false, \"message\": \"Brak danych o zawodniku\" }\\n\\n2. Jeśli masz dane z Wikipedii LUB znasz zawodnika:\\n   - Wygeneruj kompletny profil w formacie JSON\\n   - Podsumuj karierę (2-3 zdania)\\n   - Określ pozycję (jeśli brak w danych, użyj swojej wiedzy)\\n   - Wypisz kluby w karierze\\n   - Opisz charakterystykę gry (styl, mocne strony, słabe strony)\\n   - Oszacuj aktualną formę (jeśli znasz ostatnie występy)\\n\\nFORMAT ODPOWIEDZI (JSON):\\n{\\n  \"known_player\": true,\\n  \"name\": \"pełne imię i nazwisko\",\\n  \"summary\": \"krótkie podsumowanie kariery (2-3 zdania)\",\\n  \"position\": \"pozycja na boisku\",\\n  \"clubs\": [\"klub1\", \"klub2\", \"klub3\"],\\n  \"characteristics\": \"opis stylu gry i charakterystyki (3-4 zdania)\",\\n  \"strengths\": \"mocne strony (2-3 punkty)\",\\n  \"weaknesses\": \"słabe strony (2-3 punkty)\",\\n  \"estimated_current_form\": \"ocena aktualnej formy (jeśli znana, w przeciwnym razie 'brak danych')\"\\n}\\n\\nWAŻNE: Odpowiedz TYLKO w formacie JSON, bez dodatkowego tekstu.` }] }] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-generate",
            "name": "Generate Profile with Gemini",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1780,
                460
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse Gemini response\nconst geminiResponse = $input.item.json;\nconst aggregatedData = $('Aggregate Data (with EN)').item.json || $('Aggregate Data (PL only)').item.json;\n\nlet profile = {};\n\ntry {\n  // Extract JSON from Gemini response\n  const text = geminiResponse.candidates[0].content.parts[0].text;\n  \n  // Remove markdown code blocks if present\n  const jsonText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  profile = JSON.parse(jsonText);\n  \n  // Add metadata\n  profile.metadata = {\n    sources: ['wikipedia'],\n    generated_at: new Date().toISOString(),\n    model: 'gemini-pro',\n    has_wiki_data: aggregatedData.has_wiki_data,\n    image_url: aggregatedData.image_url\n  };\n  \n} catch (error) {\n  // Fallback if parsing fails\n  profile = {\n    known_player: false,\n    message: `Error parsing Gemini response: ${error.message}`\n  };\n}\n\nreturn profile;"
            },
            "id": "parse-gemini",
            "name": "Parse Gemini Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                460
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "leftValue": "={{ $json.known_player }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "if-known-player",
            "name": "IF Known Player",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2220,
                460
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://vector_api:8000/player/create",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "={{ $json.name }}"
                        },
                        {
                            "name": "summary",
                            "value": "={{ $json.summary }}"
                        },
                        {
                            "name": "position",
                            "value": "={{ $json.position }}"
                        },
                        {
                            "name": "clubs",
                            "value": "={{ $json.clubs }}"
                        },
                        {
                            "name": "characteristics",
                            "value": "={{ $json.characteristics }}"
                        },
                        {
                            "name": "strengths",
                            "value": "={{ $json.strengths }}"
                        },
                        {
                            "name": "weaknesses",
                            "value": "={{ $json.weaknesses }}"
                        },
                        {
                            "name": "estimated_current_form",
                            "value": "={{ $json.estimated_current_form }}"
                        },
                        {
                            "name": "metadata",
                            "value": "={{ $json.metadata }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "save-to-db",
            "name": "Save to Database (UPSERT)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2440,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-success",
            "name": "Respond - Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2660,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"status\": \"unknown\", \"message\": $json.message || \"Nie znaleziono danych o zawodniku\" } }}",
                "options": {}
            },
            "id": "respond-unknown",
            "name": "Respond - Unknown Player",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2440,
                580
            ]
        }
    ],
    "connections": {
        "Webhook (POST /generate-player)": {
            "main": [
                [
                    {
                        "node": "Wikipedia Search (PL)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wikipedia Search (PL)": {
            "main": [
                [
                    {
                        "node": "Process Wikipedia PL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Wikipedia PL": {
            "main": [
                [
                    {
                        "node": "IF Need EN Wikipedia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Need EN Wikipedia": {
            "main": [
                [
                    {
                        "node": "Wikipedia Search (EN)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Aggregate Data (PL only)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wikipedia Search (EN)": {
            "main": [
                [
                    {
                        "node": "Aggregate Data (with EN)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Data (with EN)": {
            "main": [
                [
                    {
                        "node": "Generate Profile with Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Data (PL only)": {
            "main": [
                [
                    {
                        "node": "Generate Profile with Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Profile with Gemini": {
            "main": [
                [
                    {
                        "node": "Parse Gemini Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Gemini Response": {
            "main": [
                [
                    {
                        "node": "IF Known Player",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Known Player": {
            "main": [
                [
                    {
                        "node": "Save to Database (UPSERT)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Unknown Player",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Database (UPSERT)": {
            "main": [
                [
                    {
                        "node": "Respond - Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}