n8n_workflows/3_generate_player_profile.json
{
    "name": "3. Generate Player Profile (Wikipedia + Gemini)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-player",
                "options": {},
                "responseMode": "responseNode"
            },
            "id": "webhook-trigger",
            "name": "Webhook (POST /generate-player)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                460,
                460
            ],
            "webhookId": "generate-player-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://pl.wikipedia.org/w/api.php?action=query&format=json&prop=extracts|pageimages&exintro=1&explaintext=1&titles={{ encodeURIComponent($json.body.name) }}&piprop=thumbnail&pithumbsize=300",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "n8n-player-bot/1.0 (https://github.com/yourusername/vector; contact@example.com)"
                        },
                        {
                            "name": "Accept",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "id": "wikipedia-pl",
            "name": "Wikipedia Search (PL)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                460
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract Wikipedia PL data\nconst webhookData = $('Webhook (POST /generate-player)').item.json;\nconst wikiData = $input.item.json;\n\nlet hasData = false;\nlet extract = '';\nlet thumbnail = '';\n\nif (wikiData.query && wikiData.query.pages) {\n  const pages = wikiData.query.pages;\n  const pageId = Object.keys(pages)[0];\n  \n  if (pageId !== '-1') {\n    const page = pages[pageId];\n    extract = page.extract || '';\n    thumbnail = page.thumbnail ? page.thumbnail.source : '';\n    hasData = extract.length > 50;\n  }\n}\n\nreturn {\n  name: webhookData.body.name,\n  club: webhookData.body.club || '',\n  wikipedia_pl_extract: extract,\n  wikipedia_pl_thumbnail: thumbnail,\n  has_pl_data: hasData\n};"
            },
            "id": "process-wiki-pl",
            "name": "Process Wikipedia PL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                460
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "leftValue": "={{ $json.has_pl_data }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "if-need-en",
            "name": "IF Need EN Wikipedia",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1120,
                460
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts|pageimages&exintro=1&explaintext=1&titles={{ encodeURIComponent($('Webhook (POST /generate-player)').item.json.body.name) }}&piprop=thumbnail&pithumbsize=300",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "n8n-player-bot/1.0 (https://github.com/yourusername/vector; contact@example.com)"
                        },
                        {
                            "name": "Accept",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {}
            },
            "id": "wikipedia-en",
            "name": "Wikipedia Search (EN)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                580
            ]
        },
        {
            "parameters": {
                "jsCode": "// Aggregate Wikipedia data (PL + EN)\nconst plData = $('Process Wikipedia PL').item.json;\nconst webhookData = $('Webhook (POST /generate-player)').item.json;\n\nlet enExtract = '';\nlet enThumbnail = '';\n\n// Check if we have EN data\nif ($input.item.json.query && $input.item.json.query.pages) {\n  const pages = $input.item.json.query.pages;\n  const pageId = Object.keys(pages)[0];\n  \n  if (pageId !== '-1') {\n    const page = pages[pageId];\n    enExtract = page.extract || '';\n    enThumbnail = page.thumbnail ? page.thumbnail.source : '';\n  }\n}\n\n// Combine PL and EN data\nconst rawWikiText = (plData.wikipedia_pl_extract + '\\n\\n' + enExtract).trim();\nconst hasWikiData = rawWikiText.length > 50;\nconst imageUrl = plData.wikipedia_pl_thumbnail || enThumbnail;\n\n// Try to extract position and clubs from text (simple regex)\nlet position = '';\nlet clubs = [];\n\nconst positionMatch = rawWikiText.match(/(pomocnik|napastnik|obrońca|bramkarz|midfielder|forward|defender|goalkeeper)/i);\nif (positionMatch) {\n  position = positionMatch[1];\n}\n\nreturn {\n  name: webhookData.body.name,\n  club: webhookData.body.club || '',\n  raw_wiki_text: rawWikiText,\n  position_from_wiki: position,\n  clubs_from_wiki: clubs,\n  image_url: imageUrl,\n  has_wiki_data: hasWikiData\n};"
            },
            "id": "aggregate-en",
            "name": "Aggregate Data (with EN)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                580
            ]
        },
        {
            "parameters": {
                "jsCode": "// Aggregate Wikipedia data (PL only)\nconst plData = $input.item.json;\n\nconst rawWikiText = plData.wikipedia_pl_extract.trim();\nconst hasWikiData = rawWikiText.length > 50;\n\n// Try to extract position from text\nlet position = '';\nconst positionMatch = rawWikiText.match(/(pomocnik|napastnik|obrońca|bramkarz|midfielder|forward|defender|goalkeeper)/i);\nif (positionMatch) {\n  position = positionMatch[1];\n}\n\nreturn {\n  name: plData.name,\n  club: plData.club || '',\n  raw_wiki_text: rawWikiText,\n  position_from_wiki: position,\n  clubs_from_wiki: [],\n  image_url: plData.wikipedia_pl_thumbnail,\n  has_wiki_data: hasWikiData\n};"
            },
            "id": "aggregate-pl",
            "name": "Aggregate Data (PL only)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-goog-api-key",
                            "value": "={{ $env.GEMINI_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{ \"parts\": [{ \"text\": `Jesteś ekspertem od piłki nożnej, specjalizującym się w polskiej Ekstraklasie. Twój styl jest humorystyczny, lekko szyderczy i memiczny – możesz żartować z zawodnika w inteligentny, żartobliwy sposób, ale nigdy nie obrażasz ani nie poniżasz. Humor ma być w klimacie polskiej Ekstraklasy: lekkie docinki, zabawne porównania, teksty typu „świetny w grze tyłem do bramki, szkoda że bramka jest z przodu\", podkreślanie memicznych zachowań piłkarzy, ale wszystko z sympatią.\\n\\nZADANIE:\\nNa podstawie poniższych danych z Wikipedii wygeneruj zwięzły, memiczno-ekspercki opis piłkarza (4–5 zdań). Ton może zawierać żartobliwe uwagi o formie, nieskuteczności, chaosie w grze lub nagłych przebłyskach geniuszu – w zależności od tego, co sugerują dane.\\n\\nDANE WEJŚCIOWE:\\n- Nazwa piłkarza: ${$json.name}\\n- Klub (opcjonalnie): ${$json.club}\\n- Dane z Wikipedii dostępne: ${$json.has_wiki_data}\\n- Tekst z Wikipedii (PL/EN): ${$json.raw_wiki_text}\\n- Pozycja (jeśli znaleziona): ${$json.position_from_wiki}\\n\\nINSTRUKCJE:\\n1. Jeśli has_wiki_data = false i nie znasz tego zawodnika:\\n   - Jeśli podano klub: Wygeneruj humorystyczny, memiczny profil \"tajemniczego piłkarza\" lub \"głębokiej rezerwy\" tego klubu. Wymyśl mu cechy pasujące do anonimowego gracza (np. \"legenda treningów\", \"mistrz gry bez piłki\", \"talent ukryty tak głęboko, że nikt go nie widział\"). Ustaw known_player: true.\\n   - Jeśli nie podano klubu: Zwróć: { \"known_player\": false, \"message\": \"Brak danych o zawodniku\" }\\n\\n2. Jeśli masz dane z Wikipedii lub znasz zawodnika:\\n   - Wygeneruj opis (summary) o długości 4–5 zdań.\\n   - Opis MA zawierać:\\n     - krótkie podsumowanie kariery\\n     - charakterystykę stylu gry\\n     - humorystyczne, memiczne lub delikatnie szydercze porównania\\n     - ocenę potencjału, formy lub typowych dla zawodnika \"przebłysków\"\\n   - Humor ma być życzliwy, w stylu piłkarskich memów, bez obrażania.\\n\\nFORMAT ODPOWIEDZI (JSON):\\n{\\n  \"known_player\": true,\\n  \"name\": \"pełne imię i nazwisko\",\\n  \"summary\": \"Treść opisu (4–5 zdań)...\"\\n}\\n\\nWAŻNE: Odpowiedz TYLKO w formacie JSON, bez dodatkowego tekstu.` }] }] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "gemini-generate",
            "name": "Generate Profile with Gemini",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1780,
                460
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse Gemini response\nconst geminiResponse = $input.item.json;\nconst webhookData = $('Webhook (POST /generate-player)').item.json;\nconst originalName = webhookData.body.name;\n\nlet profile = {};\n\ntry {\n  // Try to get aggregated data safely\n  let aggregatedData = {};\n  try {\n     aggregatedData = $('Aggregate Data (with EN)').item.json;\n  } catch (e) {}\n  \n  if (!aggregatedData || !aggregatedData.name) {\n    try {\n      aggregatedData = $('Aggregate Data (PL only)').item.json;\n    } catch (e) {}\n  }\n  \n  // Default metadata values if aggregation failed\n  const hasWikiData = aggregatedData ? aggregatedData.has_wiki_data : false;\n  const imageUrl = aggregatedData ? aggregatedData.image_url : '';\n\n  // Extract JSON from Gemini response\n  if (geminiResponse.candidates && geminiResponse.candidates[0] && geminiResponse.candidates[0].content) {\n      const text = geminiResponse.candidates[0].content.parts[0].text;\n      // Remove markdown code blocks if present\n      const jsonText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n      profile = JSON.parse(jsonText);\n  } else {\n      throw new Error(\"Invalid Gemini response structure\");\n  }\n  \n  // Ensure name is present\n  if (!profile.name) {\n    profile.name = originalName;\n  }\n\n  // Handle unknown player case - force save with default summary\n  if (profile.known_player === false) {\n    profile.known_player = true;\n    profile.summary = \"Nie znaleziono szczegółowych informacji o zawodniku w dostępnych źródłach (Wikipedia, wiedza modelu).\";\n  }\n\n  // Ensure summary is present\n  if (!profile.summary) {\n    profile.summary = \"Brak wygenerowanego opisu.\";\n  }\n  \n  // Add metadata\n  profile.metadata = {\n    sources: ['wikipedia'],\n    generated_at: new Date().toISOString(),\n    model: 'gemini-2.0-flash',\n    has_wiki_data: hasWikiData,\n    image_url: imageUrl\n  };\n  \n} catch (error) {\n  // Fallback if parsing fails\n  profile = {\n    known_player: true,\n    name: originalName,\n    summary: `Błąd generowania profilu: ${error.message}. Nie znaleziono informacji.`,\n    metadata: {\n      error: true,\n      generated_at: new Date().toISOString()\n    }\n  };\n}\n\nreturn profile;"
            },
            "id": "parse-gemini",
            "name": "Parse Gemini Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                460
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "leftValue": "={{ $json.known_player }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "if-known-player",
            "name": "IF Known Player",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2220,
                460
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://vector_api:8000/player/create",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "={{ $json.name }}"
                        },
                        {
                            "name": "summary",
                            "value": "={{ $json.summary }}"
                        },
                        {
                            "name": "metadata",
                            "value": "={{ $json.metadata }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "save-to-db",
            "name": "Save to Database (UPSERT)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2440,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "respond-success",
            "name": "Respond - Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2660,
                340
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"status\": \"unknown\", \"message\": $json.message || \"Nie znaleziono danych o zawodniku\" } }}",
                "options": {}
            },
            "id": "respond-unknown",
            "name": "Respond - Unknown Player",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2440,
                580
            ]
        }
    ],
    "connections": {
        "Webhook (POST /generate-player)": {
            "main": [
                [
                    {
                        "node": "Wikipedia Search (PL)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wikipedia Search (PL)": {
            "main": [
                [
                    {
                        "node": "Process Wikipedia PL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Wikipedia PL": {
            "main": [
                [
                    {
                        "node": "IF Need EN Wikipedia",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Need EN Wikipedia": {
            "main": [
                [
                    {
                        "node": "Wikipedia Search (EN)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Aggregate Data (PL only)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wikipedia Search (EN)": {
            "main": [
                [
                    {
                        "node": "Aggregate Data (with EN)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Data (with EN)": {
            "main": [
                [
                    {
                        "node": "Generate Profile with Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Data (PL only)": {
            "main": [
                [
                    {
                        "node": "Generate Profile with Gemini",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Profile with Gemini": {
            "main": [
                [
                    {
                        "node": "Parse Gemini Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Gemini Response": {
            "main": [
                [
                    {
                        "node": "IF Known Player",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Known Player": {
            "main": [
                [
                    {
                        "node": "Save to Database (UPSERT)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond - Unknown Player",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Database (UPSERT)": {
            "main": [
                [
                    {
                        "node": "Respond - Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}